<!DOCTYPE html>
<html>
<head>
<title>Aboutus</title>
{% load static %}


 <link href="{% static 'css/s5.css' %}" rel="stylesheet" type="text/css" />
 <link href="{% static 'css/1.css' %}" rel="stylesheet" type="text/css" />

<style>
</style>
</head>

<body>
<div class="top">
    <a href="/aboutus">
        <div class="logo">
            <h2>DSPH News</h2>
        </div>
    </a>
    <div style="margin-left:45%" >
        <div class="menu">
            <center>
                <a href="/">Home</a>
                <a href="/aboutus">About</a>
                <a href="/contactus">Contact</a>
                <a href="/login">login</a>
                <a href="https://accounts.google.com/AccountChooser">signup</a>
            </center>
        </div>
    </div>
</div>
<div class="line"></div>
<div class="main">
 <div id="posts">
  <h2 id = "aboutus">About us</h2>
  <p id="aut">
  Our company was founded in California, but our mission is to facilitate access to information for the entire world, and in every language. To that end, we have offices in more than 60 countries, maintain more than 180 Internet domains and serve more than half of our results to people living outside the United States.
	</div>
 </div>

<div class="footer">
 <div class="logo">
  <h1>DSPH NEWS</h1>
 </div>
 <div class="desc">
  <p>Email : dsphnews@gmail.com</p>
  <p>Mobile : +91 8154850006</p>
  <p>Location :19/50 Mansarovar Complex,Opp Gurudwara,Chhani,Vadodara-391740</p>
 </div>
</div>
</body>
</html>