<!DOCTYPE html>
<html>
<head>
<title>contact us</title>
{% load static %}


 <link href="{% static 'css/s5.css' %}" rel="stylesheet" type="text/css" />
 <link href="{% static 'css/1.css' %}" rel="stylesheet" type="text/css" />

<style>
</style>
</head>

<body>
<div class="top">
    <a href="/aboutus">
        <div class="logo">
            <h2>DSPH News</h2>
        </div>
    </a>
    <div style="margin-left:45%" >
        <div class="menu">
            <center>
                <a href="/">Home</a>
                <a href="/aboutus">About</a>
                <a href="/contactus">Contact</a>
                <a href="/login">login</a>
                <a href="https://accounts.google.com/AccountChooser">signup</a>
            </center>
        </div>
    </div>
</div>
<div class="line"></div>
<div class="main">
 <div id="posts">
  <h2 id = "aboutus">About us</h2>
  <p>Email : dsphnews@gmail.com</p>
  <p>Mobile : +91 8154850006</p>
  <p>Location :19/50 Mansarovar Complex,Opp Gurudwara,Chhani,Vadodara-391740</p>
  </div>
 </div>
</body>
</html>