<html>
<head>
	{% load static %}
	<link href="{% static 'css/3.css' %}" rel="stylesheet" type="text/css" />
<style>
body{
     background-image: url('de.jpg');
     background-color: #cccccc;
}
</style>
	<title> DSPH loginpage</title>
</head>

<form name="login-form" action="/login2/" method="post">
	{% csrf_token %}
<div class="main center " >
	<div class="box center " >
		<div class="icon center " >

		</div>
	  <h1>LOGIN</h1>
	  <div>
		    <p> EMAIL:-</P>
		    <input type="text" name="email" id="1" placeholder=""/>
	  </div>
	    <div>
		     <p> PASSWORD:-)</P>
		     <input type="password" name="password" id="2" placeholder=""/>
	    </div>
	         <button type=submit class="btn">login</button><br/>
		{% if messages %}
				{% for message in messages %}
					<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			{% endif %}
	   </div>
	<div>

		</div>
	</div>
</form>
	</html>
